*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Montserrat',sans-serif;
    background:#0b0b0b;
    color:white;
    overflow-x:hidden;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    background:
        radial-gradient(circle at top,#2d2d2d 0%,#111 45%,#000 100%);
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.35);
}

.hero-content{
    position:relative;
    z-index:2;
    text-align:center;
    width:90%;
    max-width:900px;
}

.small-text{
    letter-spacing:6px;
    color:#d4af37;
    text-transform:uppercase;
    margin-bottom:20px;
    font-size:14px;
}

h1{
    font-family:'Cormorant Garamond',serif;
    font-size:110px;
    font-weight:600;
    color:white;
}

.gold-line{
    width:160px;
    height:2px;
    background:#d4af37;
    margin:30px auto;
}

.subtitle{
    color:#d8d8d8;
    font-size:22px;
    line-height:1.8;
    margin-bottom:50px;
}

button{
    background:transparent;
    color:#d4af37;
    border:2px solid #d4af37;
    padding:18px 45px;
    font-size:16px;
    letter-spacing:2px;
    cursor:pointer;
    transition:.4s;
}

button:hover{
    background:#d4af37;
    color:black;
    transform:translateY(-3px);
}
