*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,
body{
width:100%;
height:100%;
overflow:hidden;
font-family:"Poppins",sans-serif;
background:#090909;
color:white;
}

body{

display:flex;
justify-content:center;
align-items:center;

}

/* Pages */

.page{

position:absolute;

width:100%;
height:100vh;

display:none;

flex-direction:column;

justify-content:center;
align-items:center;

padding:30px;

text-align:center;

background:#090909;

animation:fade .7s ease;

}

.page.active{

display:flex;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0px);

}

}

/* Loading */

.loader{

width:220px;
height:8px;

background:#222;

border-radius:20px;

overflow:hidden;

margin-top:30px;

}

.loaderFill{

height:100%;
width:0%;

background:#D4AF37;

animation:loading 3s forwards;

}

@keyframes loading{

to{

width:100%;

}

}

/* Headings */

h1{

font-family:"Cormorant Garamond",serif;

font-size:70px;

font-weight:500;

margin-bottom:20px;

}

h2{

font-family:"Cormorant Garamond",serif;

font-size:42px;

margin-bottom:20px;

font-weight:500;

}

h3{

letter-spacing:6px;

text-transform:uppercase;

font-size:14px;

color:#D4AF37;

margin-bottom:20px;

}

p{

max-width:650px;

line-height:1.8;

font-size:20px;

margin-bottom:35px;

}

/* Images */

img{

width:320px;

height:420px;

object-fit:cover;

border-radius:18px;

margin-bottom:30px;

box-shadow:0px 20px 60px rgba(0,0,0,.5);

}

/* Buttons */

button{

padding:15px 40px;

background:#D4AF37;

color:#111;

border:none;

border-radius:40px;

font-size:17px;

cursor:pointer;

transition:.3s;

font-weight:600;

}

button:hover{

transform:scale(1.06);

}

/* Game */

#gameCanvas{

background:#111;

border:3px solid #D4AF37;

border-radius:15px;

margin-top:25px;

}

/* Gift */

#giftBox{

font-size:120px;

cursor:pointer;

transition:.4s;

}

#giftBox:hover{

transform:scale(1.1) rotate(-8deg);

}

/* Letter */

.letter{

background:#F8F2E8;

color:#222;

padding:50px;

border-radius:18px;

width:90%;

max-width:850px;

height:80vh;

overflow:auto;

text-align:left;

box-shadow:0px 20px 60px rgba(0,0,0,.5);

}

.letter h2{

margin-bottom:25px;

color:#111;

}

#letterText{

white-space:pre-wrap;

font-size:18px;

line-height:1.9;

}

/* Mobile */

@media(max-width:700px){

h1{

font-size:48px;

}

h2{

font-size:34px;

}

img{

width:260px;

height:340px;

}

p{

font-size:18px;

}

button{

width:220px;

}

}
